
nav.app-nav ul li a img {
  vertical-align: top;
  margin-right: 5px;
  width: 20px;
}

.markdown-section blockquote {
  margin: 20px 0!important;
  background-color: #f5f8fc;
  padding: 1rem;
  color: #8796a8;
  border-left: none;
}

.markdown-section blockquote p {
  margin: 0.5em 0;
  font-weight: 400;
}

.markdown-section a {
  color: #1775cc;
  font-weight: 400;
  text-decoration: none;
}

.markdown-section a:hover, .markdown-section a:focus {
  color: #0081f9;
}

@media screen and (max-width: 768px) {
  .app-nav {
    display: none;
  }
}
